.pageContainer {
  /* Split screen/Desktop */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%; 
  min-height: 100vh;
  background-color: aquamarine;

}

.gridContainer {
  /* Split screen/Desktop */
  display: grid;
  grid-template-columns: 40% auto;
  grid-column-gap: 0px;
  grid-row-gap: 0%;
  justify-items: stretch;
  background-color: aquamarine;
}

.signupContainer {
  display: flex;
  flex-direction: column !important;
  align-items:center;
  padding: 1em 3em 4em;
  /* debug CSS */
  background-color: greenyellow;
  border: medium solid red;
}

.formContainer {
  display:flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items:center;
  justify-content: center;
  background-color:blue;
}

.spaceshipContainer {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

.headline {

  font-weight: 800;
}